{{ define "timings" }}
    <div id="timings" class="hidden my-auto">
        {{ template "timing" 1 }}
        {{ template "timing" 2 }}
        {{ template "timing" 3 }}
        {{ template "timing" 4 }}
        {{ template "timing" 5 }}
        {{ template "timing" 6 }}
        {{ template "timing" 7 }}
        {{ template "timing" 8 }}
        {{ template "timing" 9 }}
        {{ template "timing" 10 }}
        {{ template "timing" 11 }}
    </div>
{{ end }}
