{{ define "timings" }}
    <div id="timings" class="my-auto">
        {{ if eq (len .GetTimings) 0 }}
            <h2 class="text-2xl m-auto text-center">No Timings</h2>
        {{ else }}
            {{ range $timing := .GetTimings }}
                {{ template "timing" $timing }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}
